#bannerTextColor {
  color: #1490a3d6;
}

#bannerTextColorChange {
  color: #1490a3d6;
}
 
 @media screen and (max-width: 360px) {
  .fontSize {
    font-size: 15px;
  }
}
 @media screen and (min-width: 1024px) and (max-width: 1535px) {
  .fontSize {
    font-size: 17.5px;
  }
}
 @media screen and (min-width: 1536px) {
  .fontSize {
    font-size: 20px;
  }
}


 

 

 