#bannerTextColor {
  color: #00ffc8;
}

#bannerTextColorChange {
  color: #05baa2;
}

#modalContainer {
   width: 1000px;
   height: 500px;
   background-color: #05baa2;
}

.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 600px;
  background-color: white;
  border-radius: 4px;
  padding: 20px;
}

.scrollableContent {
  height: 100%;
  overflow-y: scroll;
}

#modalStyle{
    backdrop-filter: blur(8px); 
    pointer-events: none;  
    /* filter: blur(8px);
    -webkit-filter: blur(8px);}
  */}