@media screen and (max-width: 360px) {
    .fontSize {
      font-size: 15px;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1535px) {
    .fontSize {
      font-size: 13px;
      padding-bottom: 1.5px;

    }
  }
  @media screen and (min-width: 1535px) {
    .fontSize {
      font-size: 15px;
    }
  }
  