@media screen and (max-width: 300px) {
  .navNameStyle {
    font-size: 1.25rem;
    line-height: 2.55rem;
    font-weight: 700;
  }
  .gapStyle {
    gap: 6px;
  }
}
@media screen and (min-width: 300px) and (max-width: 325px) {
  .navNameStyle {
    font-size: 1.4rem;
    line-height: 2.6rem;
    font-weight: 700;
  }
  .gapStyle {
    gap: 8px;
  }
}
@media screen and (min-width: 325px) and (max-width: 350px) {
  .navNameStyle {
    font-size: 1.4rem;
    line-height: 2.6rem;
    font-weight: 700;
  }
  .gapStyle {
    gap: 30px;
  }
}
@media screen and (min-width: 350px) and (max-width: 375px) {
  .navNameStyle {
    font-size: 1.4rem;
    line-height: 2.6rem;
    font-weight: 700;
  }
  .gapStyle {
    gap: 47px;
  }
}
@media screen and (min-width: 375px) and (max-width: 720px) {
  .navNameStyle {
    font-size: 2.25rem;
    line-height: 2.6rem;
    font-weight: 700;
  }
  .gapStyle {
    gap: 80px;
  }
}
