
@media screen and (max-width: 300px) {
  .navNameStyle {
    font-size: 1.25rem;
    line-height: 2.55rem;
    font-weight: 700;
  }
  .gapStyle {
    gap: 0px;
  }
}

@media screen and (min-width: 300px) and (max-width: 375px) {
  .navNameStyle {
    font-size: 1.4rem;
    line-height: 2.6rem;
    font-weight: 700;
  }
  .gapStyle {
    gap: 12px;
  }
}
@media screen and (min-width: 375px) and (max-width: 720px) {
  .navNameStyle {
    font-size: 2.25rem;
    line-height: 2.6rem;
    font-weight: 700;
  }
  .gapStyle {
    gap: 17px;
  }
};
